/* borders */

/* body,header,main,div,footer{
  border: solid; 
} */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #FFFFFF;
  color: #1d3858;
  height: 100%;
  min-height: 97vh;
  display: flex;
  flex-direction: column;
}

.blend{
  /* background: transparent linear-gradient( rgb(255, 255, 255),rgb(169, 225, 255)) no-repeat;
  background-blend-mode: normal; */
  background: linear-gradient( rgb(255, 255, 255),rgb(222, 235, 255)) no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #375A82;
}

.logo {
  display: flex;
  align-items: center;
}

nav{
  display: flex;
  padding: 10px;
}

main{
  display: flex;
  flex: 1;
  flex-grow: 1;
}

/* div{
  /* border: solid; 
} */

.vertical{
  display: flex;
  flex-direction: column;
}

.horizontal{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.horizontal_no_space{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.center{
  display: flex;
  justify-content: center;
}

.max_width{
  width: max-content;
}

a {
  text-decoration: none;  /*Removes underline */
  color: inherit; /* Keeps the original color */
}

button {
  display: flex;
  background-color: #375A82;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin: 5px;
}

.red{
  background-color: #921818;  
}

.orange{
  background-color: #AB5C08;
}

select {
  background-color: #375A82;
  color: #FFFFFF;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 20px;
  margin: 5px;
}

.accordion {
  background-color: #f2f2f2;
  color: #375A82;
  cursor: pointer;
  padding: 18px;
  width: auto;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  background-color: #FFFFFF;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

footer {
  color: #1963b4;
  text-align: center;
  padding: 0;
  margin-top: 10px;
  font-size: medium;
  border-top: 1px solid #375A82;
}

/* Dark Mode */
.dark-mode {
  background-color: #262b32;
  color: #dff0ff;
}

.dark-mode .accordion {
  background-color: #1963b4;
  color: #dff0ff;
}

.dark-mode .panel {
  background-color: #375A82;
  color: #dff0ff;
}

.dark-mode button {
  background-color: #2599ff;
  color: #dff0ff;
}

.dark-mode footer {
  background-color: #262b32;
  color: #dff0ff;
}