/* Light Theme */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #FFFFFF;
  color: #1d3858;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #375A82;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 100px;
  margin-right: 10px;
}

.logo h1 {
  color: #2599ff;
  margin: 0;
  font-size: 2.5rem;
}

button {
  background-color: #375A82;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}

footer {
  background-color: #FFFFFF;
  color: #1963b4;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  font-size: larger;
  border-top: 1px solid #375A82;
}

.accordion {
  background-color: #f2f2f2;
  color: #375A82;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  background-color: #FFFFFF;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Dark Theme */
.dark-mode {
  background-color: #20262d;
  color: #FFFFFF;
}

.dark-mode .accordion {
  background-color: #1963b4;
  color: #FFFFFF;
}

.dark-mode .panel {
  background-color: #375A82;
  color: #FFFFFF;
}

.dark-mode .logo h1 {
  color: #FFFFFF;
}

.dark-mode button {
  background-color: #2599ff;
  color: #ffffff;
}

.dark-mode footer {
  background-color: #20262d;
  color: #FFFFFF;
}